* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
}

.margin-base-vertical {
    margin: 40px 0;
}

.navbar-brand {
    height: 110px;
}

.navbar-collapse {
    overflow: hidden;
}

#chat-area {
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
    padding: 20px;
    background: white;
}

#chat-area span {
    color: white;
    background: #333;
    padding: 4px 8px;

}

#chat-area p {
    padding: 8px 0;
}

#name-area {
    position: absolute;
    top: 12px;
    right: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: right;
}

#sendie {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#chat-left {
    float: left;
    width: 32px;
    height: 32px;
}

#chat-right {
    float: right;
    width: 32px;
    height: 32px;
}


